<style>
component[name="grid"]{
  justify-content: center;
  place-content: center;
}

</style>
<component name="grid"  >
  <component name="card" shadowed="true" data-title="QCObjects Community Edition"
  data-description="
  <b>Features</b>
  <ul>
    <li>Dynamic & Recursive Routing</li>
    <li>Components Rendering</li>
    <li>Microservices</li>
  </ul>
  <br/>
  <br/>
  <br/>
  <br/>
  <button >FREE</button>
  ">
  </component>
  <component name="card" shadowed="true" data-title="QCObjects Enterprise Edition" data-description="
  <b>Features</b>
  <ul>
    <li>Dynamic & Recursive Routing</li>
    <li>Components Rendering</li>
    <li>Microservices</li>
    <li>OpenAPI V3</li>
    <li>Mockup Microservices</li>
    <li>DevOps & Pipelines</li>
  </ul>
  <br/>
  <br/>
  <button >Ask to your Executive</button>
  ">
  </component>
</component>
<style>
.card {
  height: 700px !important;
}
</style>
