<style>
component[name="grid"]{
  justify-content: center;
  place-content: center;
}
.card button {
  width:100%
}
</style>
<component name="grid" template-source="none">
<component name="card" data-title="QCObjects Community Edition"
data-description="
<b>Features</b>
<ul>
  <li>Dynamic & Recursive Routing</li>
  <li>Components Rendering</li>
  <li>Microservices</li>
</ul>
<br/>
<br/>
<br/>
<br/>
<button >FREE</button>
">
</component>
<component name="card" data-title="QCObjects Enterprise Edition" data-description="
<b>Features</b>
<ul>
  <li>Dynamic & Recursive Routing</li>
  <li>Components Rendering</li>
  <li>Microservices</li>
  <li>OpenAPI V3</li>
  <li>Mockup Microservices</li>
  <li>DevOps & Pipelines</li>
</ul>
<br/>
<br/>
<button >Ask to your Executive</button>
">
</component>
</component>
<style>
.card {
  height: 700px !important;
}
</style>
