<component name="signup" template-source="none">
  <form action="#" style="border:1px solid #ccc;border-radius:20px">
    <div class="container">
      <h1>Signup Form</h1>
      <p>Please fill up this form to ask for a quote.</p>
      <hr/>
      <label id="name_label" for="name"><b>&#x1F9D1; Full Name</b></label><br/>
      <input type="text" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" title="Please write your full name" placeholder="Full Name" name="name" data-field="name" aria-labelledby="name_label" required>
      <br/>
      <label id="email_label" for="email"><b>&#x1F4E7; Email</b></label><br/>
      <input type="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" title="Please write a right email address" placeholder="Enter Email" name="email" data-field="email" aria-labelledby="email_label" required>
      <br/>
      <label for="comment" id="comment_label"><b>&#x1F4DD; Comment</b></label><br/>
      <textarea name="comment" title="Please write a comment" rows="10" cols="100" data-field="comment" aria-labelledby="comment_label"></textarea>
      <hr/>
      <label id="remember_label" for="remember"></label><br/>
      <input type="checkbox" checked="checked" name="remember" data-field="remember" aria-labelledby="remember_label" style="margin-bottom:15px"> Remember me
      <p>By submitting this form you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    </div>
  </form>
</component>
